<strong>Olá, {{ student }}</strong>
<p>Houve uma matrícula, confira os detalhes abaixo: </p>
<p>
  <strong>Aluno: </strong> {{ student }} <br />
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Preço total: </strong> {{ total_price }} <br />
  <strong>Data Início: </strong> {{ start_date }} <br />
  <br>

</p>
